VS_VERSION_INFO VERSIONINFO  
FILEVERSION 1,1,2,58  
PRODUCTVERSION 2013,0,0,0  
FILEOS 0x40004  
FILETYPE 0x1  
BEGIN  
  BLOCK "StringFileInfo"  
  BEGIN  
    BLOCK "080404B0"  
    BEGIN  
      VALUE "Comments", "\0"  
      VALUE "CompanyName","ESQUEL\0"  
      VALUE "FileDescription", "W.MIS FNM CLIENT\0"  
      VALUE "FileVersion", "1.1.2.57\0"  
      VALUE "InternalName", "FNM"  
      VALUE "LegalCopyright", "\0"  
      VALUE "LegalTrademarks", ""  
      VALUE "ProductName", "FNM\0"  
      VALUE "ProductVersion","1.0.0.0\0"  
    END  
  END  
  
  BLOCK "VarFileInfo"  
  BEGIN  
    VALUE "Translation", 0x804,1200  
  END  
END  
